<template>
<v-container grid-list-md>
  <v-layout row wrap>
    <v-flex    v-for="(bloque, i) in bloques" :key="i" >
      <v-card >
      <v-toolbar color="secondary lighten-1">
        <v-toolbar-title  class="white--text">Bloque #{{i+1}}</v-toolbar-title>
      </v-toolbar>
      <v-toolbar flat >
          <h4 class=""><b class="grey--text text--darken-1">Actual: </b> <span class="secondary--text"> {{bloque.hash}}</span></h4>
        </v-toolbar>
        <v-card-title primary-title >
          <div style="width:100%">
              <div class="mb-5" v-if="bloque.transactions != null" v-for="(transaccion,j) in bloque.transactions" :key="j">
               <b>Transacción #{{j+1}}</b><br>
                Origen: <b>{{transaccion.fromAddress}}</b><br>
                Destino: <b>{{transaccion.toAddress}}</b><br>
                Valor: <b>{{transaccion.amount}}</b><br>
              </div>
              <div v-if="bloque.transactions.length == 0" >
                <b>Sin transacciones...</b>
              </div>
          </div>
        </v-card-title>
        <v-card-actions>
        </v-card-actions>
        <v-toolbar flat>
          <h4 class=""><b class="grey--text text--darken-1">Anterior: </b> <span class="orange--text"> {{bloque.previousHash}}</span></h4>
        </v-toolbar>
      </v-card>
    </v-flex>
  </v-layout>
  </v-container>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      bloques: []
    }
  },
  computed: {
  },
  created () {
    axios.get(`${this.$store.state.api}/blocks`)
    .then(response => {
      this.bloques = response.data
    })
    .catch(e => {
      this.errors.push(e)
    })
  }
}
</script>