<template>
<v-container fluid mt-5 >
    <v-flex xs12 sm8 offset-sm2 md5 offset-md4  >
      <v-card >
        <v-toolbar  >
          <v-toolbar-title>Iniciar Sesión</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-text-field
                v-model="correo"
                :rules="reglaCorreo"
                label="Correo"
                type="email"
                required
              ></v-text-field>
            <v-text-field
              v-model="password"
              :rules="reglaPass"
              :append-icon="e1 ? 'visibility' : 'visibility_off'"
              :append-icon-cb="() => (e1 = !e1)"
              :type="e1 ? 'text' : 'password'"
              name="input-10-1"
              label="Contraseña"
              hint="Mínimo 8 caracteres"
              min="8"
              counter
              required
            ></v-text-field>
             <v-flex xs12 md12 class="text-md-center text-sm-center text-xs-center ma-2">
              <v-btn 
                color="primary"
                class="white--text"
              v-on:click="login" >Iniciar</v-btn>
             </v-flex>
             <v-flex xs12 md12 class="text-md-center text-sm-center text-xs-center ma-2">
               <v-btn
                :loading="loading"
                :disabled="loading"
                color="primary"
                class="white--text"
                @click.native="loader = 'loading3'"
                v-on:click="loginWhitGoogle"
              >
                <v-icon left dark>cloud_upload</v-icon>
                Ingresar con Google
              </v-btn>
             </v-flex>
            <p class="text-md-center">Si no tienes una cuenta crea una <router-link to="/sign-up">aqui</router-link></p>
          </v-form>
        </v-card-text>
      </v-card>
    </v-flex>
</v-container>
</template>

<script>

import firebase from 'firebase'

export default {
  name: 'Login',
  data () {
    return {
      valid: false,
      e1: false,
      loading: false,
      correo: '',
      reglaCorreo: [
        v => !!v || 'Correo es requerido',
        v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'Correo no valido'
      ],
      password: '',
      reglaPass: [
        v => !!v || 'Contraseña es requerida'
      ]
    }
  },
  methods: {
    login () {
      if (this.$refs.form.validate()) {
        var router = this.$router
        var store = this.$store
        firebase.auth().signInWithEmailAndPassword(this.correo, this.password).then(
          function (user) {
            store.commit('setMensaje', 'Conectado...')
            store.commit('setUser', user)
            router.replace('home')
          },
          function (err) {
            alert('Opss. ' + err.message)
          }
        )
      }
    },
    loginWhitGoogle () {
      var router = this.$router
      var store = this.$store
      var provider = new firebase.auth.GoogleAuthProvider()
      firebase.auth().signInWithPopup(provider).then(function (result) {
        // This gives you a Google Access Token. You can use it to access the Google API.
        // var token = result.credential.accessToken
        // The signed-in user info.
        var user = result.user
        store.commit('setMensaje', 'Conectado...')
        store.commit('setUser', user)
        router.replace('home')
        // ...
      }).catch(function (error) {
        // Handle Errors here.
        // var errorCode = error.code
        // var errorMessage = error.message
        // The email of the user's account used.
        // var email = error.email
        // The firebase.auth.AuthCredential type that was used.
        // var credential = error.credential
        alert('Opss. ' + error.message)
        // ...
      })
    }
  }
}
</script>

<style scoped>
</style>
