<template>
<v-container grid-list-md>
  <v-layout row wrap>
    <v-flex >
        <v-toolbar>
          <span class="headline secondary--text">Mi Billetera </span>
      </v-toolbar>
      <v-card>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12 sm12 md8>
                <v-flex xs12>
                  <v-text-field prepend-icon="attach_money" readonly label="Total Disponible" v-model="balance" required></v-text-field>
                </v-flex>
                <!-- <v-flex xs12>
                  <v-text-field prepend-icon="attach_money" readonly label="Total enviado"  v-model="datos.enviado"  required></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-text-field prepend-icon="attach_money" readonly label="Total recibido"  v-model="datos.recibido"  required></v-text-field>
                </v-flex> -->
              </v-flex>
                <v-flex xs12 sm6 md4>
                  <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 23"><path d="M1 1h7v7h-7zM9 1h2v1h3v4h-4v-1h1v-1h1v1h1v-2h-2v1h-2v-1h1v-1h-1zM15 1h7v7h-7zM2 2v5h5v-5zM16 2v5h5v-5zM3 3h3v3h-3zM17 3h3v3h-3zM9 6h1v2h-1zM11 7h1v1h-1zM13 7h1v2h-1zM10 8h1v3h-3v-1h-1v-1h2v1h1zM1 9h1v1h1v-1h1v2h1v1h2v1h-2v1h-1v-1h-1v1h-2zM16 9h1v2h-1zM19 9h1v1h-1zM21 9h1v2h-1zM5 10h2v1h-2zM12 10h1v1h1v-1h1v2h-2v1h2v1h-1v1h-1v1h-1v2h-2v-1h1v-1h-2v-3h1v1h1v1h1v-1h-1v-1h-1v-1h1v-1h1zM2 11v1h1v-1zM7 11h1v1h-1zM17 11h1v1h-1zM20 11h1v2h-2v-1h1zM7 13h1v1h-1zM16 13h2v1h-1v1h2v1h-1v1h-1v1h-1zM21 13h1v4h-1v-1h-1v-1h1zM1 15h7v7h-7zM14 15h1v1h-1zM2 16v5h5v-5zM13 16h1v2h-1zM19 16h1v1h1v1h-1v1h-1zM3 17h3v3h-3zM12 18h1v1h2v-1h1v2h1v1h-2v-1h-1v2h-1v-2h-1zM17 18h1v1h1v1h1v1h-1v1h-1v-2h-1zM9 19h2v1h1v2h-3v-1h1v-1h-1zM20 19h2v3h-2v-1h1v-1h-1z"/></svg> -->
                  <img src="/static/i_love_qr.svg">
                  <v-btn color="secondary darken-1"  @click.native="solicitudPago">Solicitar Pago</v-btn>
                </v-flex>
            </v-layout>
          </v-container>
          <small>*indica los campos requeridos</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="secondary darken-1" flat @click.native="guardarDatos">Guardar</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="500px">
      <v-card>
        <v-card-title>
          <span class="headline">Solicitar Pago</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12 sm6 md4>
                <v-text-field label="Legal first name" required></v-text-field>
              </v-flex>
              <v-flex xs12 sm6 md4>
                <v-text-field label="Legal middle name" hint="example of helper text only on focus"></v-text-field>
              </v-flex>
              <v-flex xs12 sm6 md4>
                <v-text-field
                  label="Legal last name"
                  hint="example of persistent helper text"
                  persistent-hint
                  required
                ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field label="Email" required></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field label="Password" type="password" required></v-text-field>
              </v-flex>
              <v-flex xs12 sm6>
                <v-select
                  :items="['0-17', '18-29', '30-54', '54+']"
                  label="Age"
                  required
                ></v-select>
              </v-flex>
              <v-flex xs12 sm6>
                <v-autocomplete
                  :items="['Skiing', 'Ice hockey', 'Soccer', 'Basketball', 'Hockey', 'Reading', 'Writing', 'Coding', 'Basejump']"
                  label="Interests"
                  multiple
                  chips
                ></v-autocomplete>
              </v-flex>
            </v-layout>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="dialog = false">Close</v-btn>
          <v-btn color="blue darken-1" flat @click.native="dialog = false">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
  </v-container>
</template>

<script>
import axios from 'axios'

export default {
  data: () => ({
    dialog: false,
    balance: 0,
    datosUsuario: {
      nombres: '',
      apellidos: '',
      anios: ''
    }
  }),
  methods: {
    guardarDatos () {
      this.usuarioRef.set(this.datosUsuario)
    },
    solicitudPago () {
      this.dialog = true
    }
  },
  computed: {
    isLogin () {
      return this.$store.state.usuario
    },
    usuario () {
      return this.$store.state.usuario ? this.$store.state.usuario : null
    },
    usuarioRef () {
      return this.$firebase.database().ref('usuarios/' + this.usuario.uid)
    }
  },
  created () {
    axios.get(`${this.$store.state.api}/balanceOf/${this.usuario.uid}`)
    .then(response => {
      this.balance = response.data.balance
    })
    .catch(e => {
      this.errors.push(e)
    })

    this.usuarioRef.once('value', (snapshot) => {
      if (snapshot.val() != null) {
        this.datosUsuario = snapshot.val()
      } else {
        this.datosUsuario = {
          nombres: '',
          apellidos: '',
          anios: ''
        }
      }
    })
  }
}
</script>