<template>
<v-container grid-list-md>
  <v-layout row wrap>
    <v-flex >
        <v-toolbar>
          <span class="headline secondary--text">Mi Perfil </span>
      </v-toolbar>
      <v-card md10>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12 sm12 md12>
                <v-flex xs12>
                  <v-text-field label="Nombres" v-model="datosUsuario.nombres" required></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-text-field label="Apellidos"  v-model="datosUsuario.apellidos"  required></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-text-field label="Correo" v-model="usuario.email" v-if="usuario"  readonly></v-text-field>
                  <v-text-field label="Correo"  v-else  readonly></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-select
                    :items="['18-29', '30-54', '54+']"
                    label="Age"
                    v-model="datosUsuario.anios"
                    required
                  ></v-select>
                </v-flex>
              </v-flex>
            </v-layout>
          </v-container>
          <small>*indica los campos requeridos</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="secondary darken-1" flat @click.native="guardarDatos">Guardar</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
  </v-container>
</template>

<script>
  export default {
    data: () => ({
      dialog: false,
      datosUsuario: {
        nombres: '',
        apellidos: '',
        anios: ''
      }
    }),
    methods: {
      guardarDatos () {
        this.usuarioRef.set(this.datosUsuario)
      }
    },
    computed: {
      isLogin () {
        return this.$store.state.usuario
      },
      usuario () {
        return this.$store.state.usuario
      },
      usuarioRef () {
        return this.$firebase.database().ref('usuarios/' + this.usuario.uid)
      }
    },
    created () {
      this.usuarioRef.once('value', (snapshot) => {
        if (snapshot.val() != null) {
          this.datosUsuario = snapshot.val()
        } else {
          this.datosUsuario = {
            nombres: '',
            apellidos: '',
            anios: ''
          }
        }
      })
    }
  }
</script>