<template>
  <v-app  >
    <v-navigation-drawer
      persistent
      :mini-variant="miniVariant"
      :clipped="clipped"
      v-model="drawer"
      enable-resize-watcher
      fixed 
      v-if="isLogin"
      app
    >
    <v-toolbar flat class="transparent" v-if="isLogin">
        <v-list class="pa-0">
          <v-list-tile avatar>
            <v-list-tile-avatar>
              <img :src="usuario.photoURL" >
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>{{usuario.displayName}}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-toolbar>
      <v-list>
        <v-list-tile
          value="true"
          v-for="(item, i) in items"
          :key="i"
          :to="item.link"
          v-show="isLogin"
        >
          <v-list-tile-action>
            <v-icon v-html="item.icon"></v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title class="white--text--darken-5" v-text="item.title"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      app
      :clipped-left="clipped"
    >
      <v-toolbar-side-icon @click.stop="drawer = !drawer" v-if="isLogin"></v-toolbar-side-icon>
      <v-toolbar-title v-text="title"></v-toolbar-title>
          <v-btn fab color="yellow darken-1" flat>
            <v-icon dark >attach_money</v-icon>
          </v-btn>
          <v-spacer></v-spacer>
          <v-tooltip bottom v-if="isLogin">
            <v-btn color="primary--text" slot="activator" icon @click="logout">
              <v-icon >exit_to_app</v-icon>
            </v-btn>
            <span>Cerrar Sesión</span>
          </v-tooltip>
    </v-toolbar>
    <v-content class="secondary">
      <router-view/>
    </v-content>
    <v-snackbar
      :timeout="snackbarGlobal.timeout"
      :color="snackbarGlobal.color"
      v-model="snackbarGlobal.snackbar"
    >
      {{ snackbarGlobal.text }}
      <v-btn flat @click.native="snackbarGlobal.snackbar = false" class="accent--text">Cerrar</v-btn>
    </v-snackbar>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      clipped: true,
      drawer: true,
      fixed: false,
      items: [
        {
          icon: 'description',
          title: 'Bloques',
          link: 'bloques'
        },
        {
          icon: 'account_balance_wallet',
          title: 'Mi Billetera',
          link: 'billetera'
        },
        {
          icon: 'people',
          title: 'Mi Perfil',
          link: 'perfil'
        }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Ecci Coin'
    }
  },
  methods: {
    logout () {
      var store = this.$store
      this.$firebase.auth().signOut().then(() => {
        this.$router.replace('login')
        store.commit('setMensajeSnackBar',
          {
            snackbar: true,
            color: '',
            mode: '',
            timeout: 6000,
            text: 'Se ha desconectado...'
          })
        store.commit('setUser', null)
      })
    }
  },
  computed: {
    isLogin () {
      return this.$store.state.usuario
    },
    usuario () {
      return this.$store.state.usuario ? this.$store.state.usuario : null
    },
    snackbarGlobal () {
      return this.$store.state.snackbarGlobal ? this.$store.state.snackbarGlobal : null
    }
  },
  mounted () {
  },
  name: 'App'
}
</script>
